
Build
Library
Temp
UnityPackageManager
obj
.idea
.vs
.svn
*.csproj
*.booproj
*.unityproj
*.sln
*.userprefs
*.rar
*.7z
/Docs/
/UnityVR/

/UnityVR
*.pyc
/server_assets/*
/Assets/FR2_Cache.asset
/Assets/FR2_Cache.asset.meta
/Assets/FR2_Cache.asset
/Assets/FR2_Cache.asset*
/Logs
